*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr [box-start] 1fr 1fr [box-end] 1fr;
    grid-template-rows: masonry;
}
.image-list li{

    padding: 20px 5px;

    list-style: none;
    text-decoration: none;
}
img{
    border-radius: 50px;
    padding: 10px 5px;
    width: 100%;
    object-fit: cover;
}