*{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    column-count: 5;
    column-gap: 60px;
}
.image-list li{
    list-style: none;
    text-decoration: none;
}
img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}